* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    /* background-color: rgb(178, 247, 224); */
}

.wrapper {
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 30fr);
    grid-template-rows: 10vh 10vh;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.box1 {
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: subgrid;
    grid-template-columns: 1fr 1fr;
}