<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <section class="cabecalho">
            Blobo Esporte
        </section>
    </header>
    <main>
        <section class="corpo-left">
            2.1 <h1>Brasil ganha 1 ouro</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt optio magni consequuntur mollitia error
                quis ea! Sed
                repudiandae eveniet, excepturi vel expedita saepe earum, aperiam unde adipisci dignissimos, nam error.
            </p>
        </section>
        <section class="corpo-center">
            2,3 - <h1>Brasil ganha 1 prata</h1>
        </section>
        <section class="corpo-right">
            2.2 <h1>Brasil ganha um bronze</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt optio magni consequuntur mollitia error
                quis ea!
                Sed
                repudiandae eveniet, excepturi vel expedita saepe earum, aperiam unde adipisci dignissimos, nam error.
            </p>
        </section>
    </main>
    <aside>
        <section class="lateral">
            <nav>
                <ul>
                    <li>menu1</li>
                    <li>menu2</li>
                    <li>menu3</li>
                </ul>
            </nav>
        </section>
    </aside>
    <footer>
        <section class="rodape">
            copyright&copy; Donos 2021
        </section>
    </footer>
</body>

</html>