* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: xx-small;
}

.video1 {
    width: 100px;
    height: 75px;
}

@media screen and (min-width:360px) {
    .video1 {
        width: 400px;
        height: 300px;
    }
}

@media screen and (min-width:780px) {
    h1{
        font-size: xx-large;
    }
    .video1 {
        width: 800px;
        height: 400px;
    }
}