.estilo {
    border: solid 1px;
    border-radius: 5px;
    background-color: #fd7e14;
    margin: 5px;
}

aside {
    width: 24%;
    height: 320px;
    float: right;
}

footer {
    height: 80px;
    clear: both;
}

header {
    height: 80px;
}

main {
    width: 74%;
    height: 320px;
    float: left;
}